.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
}
.logo{
  z-index: 10;
  width: 228px;
  height: 32px;
  font-weight: 600;
  margin: 0 auto;
  padding: 0;
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative; 
  background-color:#f2f2f2;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}
.title{
  position: relative;
  z-index: 10;
  width: 730px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 64px;
  font-size: 102px; 
  line-height: 96px; 
  font-weight: 600; 
}
.subtitle{
  width: 388px;
  margin: 0;
  padding: 0 64px;
  position: absolute;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  font-weight: normal;
}
.link{
  text-decoration: none; 
}
.main-illustration{
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 9;
}
.square-pic{
  width: 568px;
  height: 568px;
  right: 0;
  position: absolute;
  top: 64px;
  z-index: 8;
}
.description{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.two-columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: flex-start;
  width: 80%;
}
.brief{
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
.main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column; 
  gap: 30px;
}
.paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.span-accent{
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title{
  width: 60%;
  margin: 0; 
  text-align: center; 
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.section-subtitle{
  width: 60%;
  margin-top: 20px; 
  text-align: center; 
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 1100px; 
}
.cell{
  width: 250px;
  display: flex;
  flex-direction: column; 
  gap: 20px;
}
.heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 60px;
}
.text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.feynman{
  position: relative;
  height: 890px;
  background-color:#f2f2f2;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.feynman-title{
  margin-top: 100px;
  width: 648px;
  margin-bottom: 70px;
  text-align: center; 
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 10;
}
.feynman-subtitle{
  text-align: center; 
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 10;
}
.feynman-link{
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  top: 50%;
  text-decoration: none; 
}
.background-image{
  position: absolute; 
  left: 0; 
  bottom: 0;
  z-index: 9;
}
.kaufman{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  position: relative; 
  background-color:  #1f1f1f;
  color: white;
  overflow: hidden; 
}
.section-title_theme_dark{
  margin-top: 90px;
}
.table_theme_dark{
  margin-bottom: 90px;
}
.cell_theme_dark{
  width: 200px;
  display: flex;
  flex-direction: column; 
}
.heading_theme_dark{
  margin-top: 80px;
  z-index: 10;
}
.text_theme_dark{
  z-index: 10;
}
.triangle{
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0; 
  position: absolute; 
  z-index: 9;
}
.footer{
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
  display: flex; 
  justify-content: center; 
  padding: 60px 0 40px;
}
.columns{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 90%;
}
.column {
  flex: 1; 
}
.column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  flex-basis: 711px;
}
.logo_place_footer{
  margin: 0;
}
.author{
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.column_content_info{
  display: flex;
  flex-direction: column;
}
.column_content_social{
  display: flex;
  flex-direction: column;
}
.column-heading{
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.column-links{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}
.social-icon{
  height: 16px;
  width: 16px;
}
